/database/source_db.py
/database/dane.csv
.idea/
./generated_files/*
/generated_files/
pages/ma_details_files/tmp_file/*
.env

/pages/db_analyze/tmp_file/*
/pages/about_db/tmp_file/*
/pages/cycle_of_life/tmp_file/
/pages/charakterystyka_bazy/tmp_files/*
